<a href="https://colab.research.google.com/github/emilymacris/ds3001group/blob/main/michigan/MI_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
# Packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!git clone https://github.com/emilymacris/ds3001group.git

fatal: destination path 'ds3001group' already exists and is not an empty directory.

In [60]:
#importing files for demographics
rawdemo2012 = pd.read_excel("https://raw.githubusercontent.com/emilymacris/ds3001group/main/dataverse_files/demographicsallstates2012.xlsx")
rawdemo2016 = pd.read_excel("https://raw.githubusercontent.com/emilymacris/ds3001group/main/dataverse_files/demographicsallstates2016.xlsx")
rawdemo2020 = pd.read_excel("https://raw.githubusercontent.com/emilymacris/ds3001group/main/dataverse_files/demographicsallstates2020.xlsx")


rawdemo2012 = rawdemo2012[rawdemo2012["State Name"] == "Michigan"]
rawdemo2016 = rawdemo2020[rawdemo2016["State Name"] == "Michigan"]
rawdemo2020 = rawdemo2020[rawdemo2020["State Name"] == "Michigan"]

In [62]:
# sorting MI poverty
mipoverty = pd.read_csv("https://raw.githubusercontent.com/emilymacris/ds3001group/main/michigan/mipoverty.csv")
mipoverty = mipoverty.drop([0,1, 38, 39])

mipoverty2012 = mipoverty[mipoverty['Year'] == 2012]
mipoverty2016 = mipoverty[mipoverty['Year'] == 2016]
mipoverty2020 = mipoverty[mipoverty['Year'] == 2020]

mipoverty2012.head(5)

,Year,ID,Name,Poverty Universe,Number in Poverty,90% Confidence Interval,Percent in Poverty,90% Confidence Interval.1
170,2012,0,United States,"306,086,063","48,760,123","48,528,543 to 48,991,703",15.9,15.8 to 16.0
171,2012,26000,Michigan,"9,663,758","1,677,776","1,655,746 to 1,699,806",17.4,17.2 to 17.6
172,2012,26001,Alcona County,"10,508","1,677","1,335 to 2,019",16.0,12.7 to 19.3
173,2012,26003,Alger County,"8,542","1,345","1,070 to 1,620",15.7,12.5 to 18.9
174,2012,26005,Allegan County,"110,841","14,806","12,760 to 16,852",13.4,11.6 to 15.2

In [63]:
outcomes = pd.read_excel("https://raw.githubusercontent.com/emilymacris/ds3001group/main/michigan/michiganoutcomes.xlsx")

outcomes2012 = outcomes [outcomes ['year'] == 2012]
outcomes2016 = outcomes [outcomes [ 'year']== 2016]
outcomes2020 = outcomes [outcomes [ 'year'] == 2020]

In [64]:
# Merge 2012

election2012 = pd.merge(rawdemo2012, mipoverty2012, left_on='County Name', right_on='Name', how='outer') # Merge poverty with demographics
election2012 = pd.merge(election2012, outcomes2012, left_on='ID', right_on='county_fips', how='outer') # Merge outcomes with election2012

In [65]:
#Merge 2016
election2016 = pd.merge(rawdemo2016, mipoverty2016, left_on='County Name', right_on='Name', how='outer') # Merge poverty with demographics
election2016 = pd.merge(election2016, outcomes2016, left_on='ID', right_on='county_fips', how='outer') # Merge outcomes with election2012

In [66]:
# Merge 2020

election2020 = pd.merge(rawdemo2020, mipoverty2020, left_on='County Name', right_on='Name', how='outer') # Merge poverty with demographics
election2020 = pd.merge(election2020, outcomes2020, left_on='ID', right_on='county_fips', how='outer') # Merge outcomes with election2012
election2020.head(10)

,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,County Subdivision Code,...,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
0,G2600010,2016-2020,MI,NaN,NaN,Michigan,26.0,Alcona County,1.0,NaN,...,MI,ALCONA,26001.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,4848.0,7064.0,20220315.0,TOTAL
1,G2600030,2016-2020,MI,NaN,NaN,Michigan,26.0,Alger County,3.0,NaN,...,MI,ALGER,26003.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,3014.0,5128.0,20220315.0,TOTAL
2,G2600050,2016-2020,MI,NaN,NaN,Michigan,26.0,Allegan County,5.0,NaN,...,MI,ALLEGAN,26005.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,41392.0,67094.0,20220315.0,TOTAL
3,G2600070,2016-2020,MI,NaN,NaN,Michigan,26.0,Alpena County,7.0,NaN,...,MI,ALPENA,26007.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,10686.0,16969.0,20220315.0,TOTAL
4,G2600090,2016-2020,MI,NaN,NaN,Michigan,26.0,Antrim County,9.0,NaN,...,MI,ANTRIM,26009.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,9748.0,15949.0,20220315.0,TOTAL
5,G2600110,2016-2020,MI,NaN,NaN,Michigan,26.0,Arenac County,11.0,NaN,...,MI,ARENAC,26011.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,5928.0,8831.0,20220315.0,TOTAL
6,G2600130,2016-2020,MI,NaN,NaN,Michigan,26.0,Baraga County,13.0,NaN,...,MI,BARAGA,26013.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,2512.0,4038.0,20220315.0,TOTAL
7,G2600150,2016-2020,MI,NaN,NaN,Michigan,26.0,Barry County,15.0,NaN,...,MI,BARRY,26015.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,23471.0,35905.0,20220315.0,TOTAL
8,G2600170,2016-2020,MI,NaN,NaN,Michigan,26.0,Bay County,17.0,NaN,...,MI,BAY,26017.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,33125.0,60255.0,20220315.0,TOTAL
9,G2600190,2016-2020,MI,NaN,NaN,Michigan,26.0,Benzie County,19.0,NaN,...,MI,BENZIE,26019.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,6601.0,12262.0,20220315.0,TOTAL

In [69]:
election2012['Percent in Poverty'].unique()
election2016['Percent in Poverty'].unique()
election2020['Percent in Poverty'].unique()

array([16.2, 13.9,  9. , 15.5, 11.7, 16.5,  8.4, 15.2, 10.8, 16.7, 16.8,
       12.9, 11.5, 18. , 16. , 21.7, 21.4, 14.3, 12.8, 11.2, 11.8, 20.3,
       20.4, 10. , 18.8, 14.5, 20.2, 14.2, 20.1, 18.2, 15.4, 23.4, 13.6,
       16.6, 15.3, 12.1, 12.3, 21.9,  8.1, 12.5,  5.8, 20.9, 13.7, 11. ,
       15.1, 20.7, 13. ,  9.5, 14.7, 15.6, 17. , 17.2,  8.7, 17.3, 15.8,
       19.1, 18.6, 14. , 17.7, 17.8, 13.8, 14.9, 14.8, 12. , 14.6, 22.9])

In [77]:
election2012['Percent in Poverty'].value_counts()
election2016['Percent in Poverty'].value_counts()
election2020['Percent in Poverty'].value_counts()
election2012['Percent in Poverty'].isnull().sum() # No missing values
election2016['Percent in Poverty'].isnull().sum() # No missing values
election2020['Percent in Poverty'].isnull().sum() # FOUR missing values, test in next row

4

In [81]:
# display the four rows in election2020 for which there are missing values
missing_poverty_rows = election2020[election2020['Percent in Poverty'].isnull()]
display(missing_poverty_rows.style)

In [82]:
# # Wrangling

# poverty = poverty.drop([0,1, 38, 39])
# poverty_2020 = poverty[poverty['Year'] == 2020]
# print(poverty_2020.head(20))

# poverty_2020['Percent in Poverty'].unique()
# poverty_2020['Percent in Poverty'].value_counts()
# poverty_2020['Percent in Poverty'].isnull().sum() # No missing values

In [83]:
# # Matching column names of files to merge
# poverty['Name'] = poverty['Name'].str.replace(' County', '')
# poverty.head(15)
# poverty['Name'] = poverty['Name'].str.upper()
# poverty.head(15)

In [84]:
# Merge outcomes2020 with poverty

# merged_df = pd.merge(poverty2020, outcomes2020, left_on='Name', right_on='county_name', how='outer')
# print(merged_df)

In [85]:
# # EDA
# poverty['Percent in Poverty'].hist() # Histogram distribution
# print('Mean: ', poverty['Percent in Poverty'].mean() ) # Measures of central tendency
# print('Median: ', poverty['Percent in Poverty'].median() )
# print('Mode: ', poverty['Percent in Poverty'].mode() )
# print(poverty.shape[0]) # 55 rows

# merged_df.boxplot(column = 'Percent in Poverty',by = 'party')

In [ ]:
race = pd.read_excel("ds3001group/michigan/Michigan_Race.xlsx",sheet_name=1)

race.head(20)

,Label,"Alcona County, Michigan","Alger County, Michigan","Allegan County, Michigan","Alpena County, Michigan","Antrim County, Michigan","Arenac County, Michigan","Baraga County, Michigan","Barry County, Michigan","Bay County, Michigan",...,"St. Clair County, Michigan","St. Joseph County, Michigan","Sanilac County, Michigan","Schoolcraft County, Michigan","Shiawassee County, Michigan","Tuscola County, Michigan","Van Buren County, Michigan","Washtenaw County, Michigan","Wayne County, Michigan","Wexford County, Michigan"
0,Total:,"10,167","8,842","120,502","28,907","23,431","15,002","8,158","62,423","103,856",...,"160,383","60,939","40,611","8,047","68,094","53,323","75,587","372,258","1,793,561","33,673"
1,Population of one race:,"9,785","8,351","112,970","27,656","22,372","14,298","7,528","59,083","97,365",...,"151,438","56,795","38,727","7,494","64,538","50,650","69,415","342,959","1,682,836","31,912"
2,White alone,"9,644","7,363","105,564","27,177","21,902","14,017","5,772","57,488","93,305",...,"144,476","51,530","37,883","6,756","63,132","49,413","61,345","257,688","882,484","31,124"
3,Black or African American alone,23,587,"1,584",99,39,35,604,313,"1,705",...,"3,937","1,367",168,10,325,413,"2,428","42,819","674,782",193
4,American Indian and Alaska Native alone,61,328,799,122,201,130,"1,097",261,463,...,701,277,141,703,263,200,819,"1,190","7,218",178
5,Asian alone,14,26,874,119,72,38,16,247,538,...,826,414,84,15,297,157,386,"33,632","64,947",186
6,Native Hawaiian and Other Pacific Islander alone,1,1,22,12,20,1,3,15,5,...,16,9,2,1,22,15,40,201,433,1
7,Some Other Race alone,42,46,"4,127",127,138,77,36,759,"1,349",...,"1,482","3,198",449,9,499,452,"4,397","7,429","52,972",230
8,Population of two or more races:,382,491,"7,532","1,251","1,059",704,630,"3,340","6,491",...,"8,945","4,144","1,884",553,"3,556","2,673","6,172","29,299","110,725","1,761"
9,Population of two races:,371,470,"7,153","1,209","1,008",652,599,"3,185","6,172",...,"8,564","3,970","1,801",522,"3,390","2,585","5,846","27,079","103,110","1,694"
10,White; Black or African American,35,13,958,148,62,55,16,380,"1,316",...,"1,871",767,169,18,446,246,808,"5,493","22,613",178
11,White; American Indian and Alaska Native,151,324,"1,920",490,428,349,458,"1,126","1,797",...,"2,768",911,699,395,"1,324",991,"1,620","3,942","16,650",661
12,White; Asian,16,7,531,89,55,28,16,197,300,...,542,214,78,12,192,92,276,"5,687","11,122",144
13,White; Native Hawaiian and Other Pacific Islander,6,5,35,25,4,4,2,31,15,...,36,14,4,6,34,10,30,103,414,5
14,White; Some Other Race,143,99,"3,538",433,453,215,65,"1,403","2,635",...,"3,188","1,951",833,76,"1,363","1,214","2,932","10,122","41,202",678
15,Black or African American; American Indian and...,0,6,38,0,1,0,21,6,28,...,52,23,0,9,0,10,60,526,"4,864",12
16,Black or African American; Asian,10,2,0,8,0,0,0,7,5,...,10,1,2,3,3,0,6,263,"1,180",5
17,Black or African American; Native Hawaiian and...,0,2,0,0,0,0,1,1,2,...,12,1,0,0,0,0,1,47,221,0
18,Black or African American; Some Other Race,0,1,73,10,0,0,1,0,33,...,46,37,8,0,12,13,35,543,"3,355",0
19,American Indian and Alaska Native; Asian,0,3,3,3,0,0,8,0,0,...,5,0,0,1,2,1,1,35,170,0